<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'register'}) %>
<body>
    <main>
      <form action="/users/register" method="post">
            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name" value="<%= res.locals.old && res.locals.old.name %>">
            <% if (res.locals.errors && res.locals.errors.name) { %>
               <p class="feedback"><%= res.locals.errors.name.msg %></p>
            <% } %>
            

            <label for="last-name">Apellido:</label>
            <input type="text" name="last-name" id="last-name" value="<%= res.locals.old && res.locals.old.last-name %>">
            <% if (res.locals.errors && res.locals.errors.name) { %>
               <p class="feedback"><%= res.locals.errors.last-name.msg %></p>
            <% } %>
            

            <label for="email">Correo electrónico:</label>
            <input type="email" name="email" id="email" value="<%= res.locals.old && res.locals.old.email %>">
            <% if (res.locals.errors && res.locals.errors.email) { %>
               <p class="feedback"><%= res.locals.errors.email.msg %></p>
            <% } %>

            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password" value="<%= res.locals.old && res.locals.old.password %>">
            <% if (res.locals.errors && res.locals.errors.password) { %>
               <p class="feedback"><%= res.locals.errors.password.msg %></p>
            <% } %>

            <button type="submit">Registrarse</button>
        </form>
    </main>
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>
